{% load static %}

<!-- Banner -->
<link rel="stylesheet" href="{% static 'css/includes/swiper-bundle.min.css' %} "/>
<link rel="stylesheet" href="{% static 'css/includes/all_seminars_swiper.css' %}" />

<!-- Main page banner -->
    <div class="seminars-container-wrap">
        <div class="container">
            <p class="h1 mb-3">Все семинары</p>
            <div class="swiper allSeminarsSwiper" >
                <div class="swiper-wrapper">
          <!-- Additional required wrapper -->
                    {% for seminar in seminars %}
                    <div class="swiper-slide" style='margin:0 0.2rem; padding: 0 0rem;'>
                            <div class="card" style='border-radius:15px; overflow:hidden'>
                              <img src="{{ seminar.background_image.url }}" class="card-img-top" alt="..." style='height:10rem;'>
                              <div class="card-body" style='display:flex;flex-direction:column;'>
                                <h6 class="card-title"> {{ seminar.name }} </h5>
                                        <div class="lector-wrap">
                                            <img src="{{ seminar.lector.image.url }}" class="rounded-circle">
                                        <div class="lector-name">{{ seminar.lector.name }}</div>
                                        </div>
                                        {% if seminar.lector_2 %}
                                        <div class="lector-wrap">
                                            <img src="{{ seminar.lector_2.image.url }}" class="rounded-circle">
                                            <div class="lector-name">{{ seminar.lector_2.name }}</div>
                                        </div>
                                        {% endif %}
                                <a href="/seminar/{{seminar.slug }}" class="btn btn-primary btn-mystyle" > Подробнее</a>
                              </div>
                            </div>
                            </div>
                    
                    
                    
                    
                    
                    
                
                    {% endfor %}


                </div>

                    <div class="swiper-scrollbar"></div>
            </div>
        </div>
    </div>

  	<script src="{% static 'js/swiper-bundle.min.js' %}"></script>
    <script src="{% static 'js/all_seminars_swiper.js' %}" ></script>
