{% load static %}
<!-- Banner -->
<link rel="stylesheet" href="{% static 'css/includes/all_lectors_swiper.css' %}" />
<link rel="stylesheet" href="{% static 'css/includes/swiper-bundle.min.css' %} "/>

<!-- Main page banner -->
    <div class="seminars-container-wrap">
        <div class="container">
            <div class="my-5">
                            <p class="h1 fw-bold text-center"> Лекторы </p>
            <p class="fs-6 text-center ms-3"> Лекции и практические занятия ведут ведущие специалисты отрасли, делясь своими знаниями и опытом. </p>

            </div>
            <div class="swiper allLectorsSwiper" style="height:24rem;">
                <div class="swiper-wrapper" >
          <!-- Additional required wrapper -->


                    {% if lectors|length == 0 %}
                    <div class="swiper-slide ms-3">
                        <div class="card" style='height:22rem; border-radius:15px; overflow:hidden'>
                            <div class="wrap" style='height:13rem;overflow:hidden; background:#d2ddff;'> <img src="/media/lector/images/empty_lector.jpg" class="card-img-top" alt="..." > </div>
                            <div class="card-body" style='display:flex; flex-direction:column;'>
                                <p class="h6 fw-bold"> Упс! Лекторы не добавлены </p>
                                <p class="" style="font-size:14px"> <small> стоматолог </small>  </p>
                                <a href="#" class="btn btn-primary mt-auto btn-mystyle-lector" > еще..</a>
                            </div>
                        </div>
                    </div>
                    {% endif %}




                    {% for lector in lectors %}
                        <div class="swiper-slide">
                            <div class="card m-2" style='height:22rem; border-radius:15px; overflow:hidden'>
                                <div class="wrap" style='height:13rem;overflow:hidden; background:#d2ddff;'> <img src="{{ lector.image.url }}" class="card-img-top" alt="..." > </div>
                               <div class="card-body d-flex flex-column">
                                    <p class="h6 fw-bold"> {{ lector.name }} </p>
                                    <p class="" style="font-size:14px"> <small> {{ lector.specialization }} </small>  </p>
                                   <a href="/lector/{{ lector.slug }}" class="btn btn-primary mt-auto btn-mystyle-lector" > еще..</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}


                </div>

            <div class="swiper-scrollbar"></div>
            </div>

        </div>
    </div>





  	<script src="{% static 'js/swiper-bundle.min.js' %}"></script>
    <script src="{% static 'js/all_lectors_swiper.js' %}" ></script>


