{% load static %}

<!-- Banner -->
<link rel="stylesheet" href="{% static 'css/includes/swiper-bundle.min.css' %} "/>
<link rel="stylesheet" href="{% static 'css/includes/all_seminars_swiper.css' %}" />

<!-- Main page banner -->
        <div class="container">
            
            <div class="swiper allSeminarsSwiper" >
                <div class="swiper-wrapper">
          <!-- Additional required wrapper -->
          
                    {% if seminars|length == 0 %}

                    <div class="swiper-slide ">
                      <div class="card card-seminars rounded-5" style='overflow:hidden; height:30rem;'>
                        <img src="/media/seminar/images/empty_seminar.jpg" class="card-img-top" alt="..." style='height:10rem;'>
                        <div class="card-body" style='display:flex;flex-direction:column;'>
                          <h6 class="card-title"> Упс! Семинары не загружены </h5>
                                  <div class="lector-wrap">
                                      <img src="/media/lector/images/empty_lector.jpg" class="rounded-circle">
                                  <div class="lector-name d-flex my-auto ms-2">Лучший лектор</div>
                                  </div>
                          <a href="#" class="btn btn-primary btn-mystyle" > Подробнее</a>
                        </div>
                      </div>
                    </div>

                    {% endif %}



                    {% for seminar in seminars %}
                    <div class="swiper-slide ">
                        <div class="card card-seminars mb-4  rounded-5 border-0 shadow-sm" style='overflow:hidden;'>
                          <img src="{{ seminar.image.url }}" class="card-img-top" alt="..." style='height:15rem;'>
                          <div class="card-body" style='display:flex;flex-direction:column;'>
                            <a href="/seminar/{{ seminar.slug }}" class="text-reset fs-6 fs-md-5 fw-bold"> {{ seminar.name }} </a>
                                    <div class="lector-wrap mt-auto ">
                                        <div class="rounded-5 overflow-hidden" style="width:2.5rem;height:2.5rem">
                                            <img src="{{ seminar.lector.image.url }}" class="img-fluid ">
                                        </div>

                                        <a class="text-reset my-auto ms-2">{{ seminar.lector.name }}</a>
                                    </div>
                                    {% if seminar.lector_2 %}
                                    <div class="lector-wrap ">
                                        <div class="rounded-5 overflow-hidden" style="width:2.5rem;height:2.5rem">
                                            <img src="{{ seminar.lector_2.image.url }}" class="img-fluid ">
                                        </div>

                                        <a class="text-reset my-auto ms-2">{{ seminar.lector_2.name }}</a>
                                    </div>
                                    {% endif %}
                            <a href="/seminar/{{ seminar.slug }}" class="btn btn-primary btn-mystyle rounded-5 mt-3" > Подробнее</a>
                          </div>
                        </div>
                      </div>

                     {% endfor %}


                </div>

                    <div class="swiper-scrollbar"></div>
            </div>
        </div>

  	<script src="{% static 'js/swiper-bundle.min.js' %}"></script>
    <script src="{% static 'js/all_seminars_swiper.js' %}" ></script>


