{% load static %}

<link rel="stylesheet" href="{% static 'css/includes/blog.css' %}" />

<div class="container mt-5">
      <div class="row">
        <div class="col-12">
          <h1 class="display-4">Skillbox — крупнейшая образовательная компания в России и СНГ</h1>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-lg-8">
          <div class="ratio ratio-16x9">
            <img src="https://via.placeholder.com/800x450" class="custom-img" alt="Как мы создаём наши курсы">
          </div>
        </div>
        <div class="col-lg-4 d-flex flex-column justify-content-between">
          <div class="bg-light p-4 mb-3 text-center">
            <h2 class="display-5">№1</h2>
            <p>по качеству обучения в рейтинге Smart Ranking</p>
          </div>
          <div class="bg-primary text-white p-4 text-center">
            <h2 class="display-5">93%</h2>
            <p>окончивших курс отмечают, что достигли своих целей</p>
          </div>
        </div>
      </div>
    </div>