{% load static %}


{% block content %}
<script src="{% static 'js/form_processing.js' %}"></script>
<div class="container">
    <div class="container">
        <div class="row p-4 p-md-5 bg-white rounded-5">

                <div class="col-md-6">
                    <p class="fs-2 my-3 fw-bold">Ответим на все <br>ваши вопросы</p>
                    <p class="card-text my-3">Если вы хотите больше узнать о нас, уточнить детали или записаться на семинар, оставьте заявку — и мы перезвоним</p>
                </div>
                <div class="col-md-6">



                    <!-- Feedback Form -->
                <form id="contact-form" class="feedback-form needs-validation" novalidate>
                    {% csrf_token %}
                    <div class="mb-3">
                        <input type="text" class="form-control name"  placeholder="Имя" required>
                        <div class="invalid-feedback">Введите имя.</div>
                    </div>
                    <div class="mb-3">
                        <div class="input-group">
                            <input type="tel" class="form-control phone" placeholder="Телефон" required>
                            <div class="invalid-feedback">Введите телефон.</div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <input type="email" class="form-control email"  placeholder="Электронная почта" required>
                        <div class="invalid-feedback">Введите электронную почту.</div>
                    </div>

                    <div id='alert-success' class="alert alert-success d-none" role="alert">
                        <i class="fs-5 fas fa-check-circle"> &nbsp </i>
                        <div>Спасибо за заявку, ожидайте звонка</div>
                    </div>

                    <button type="submit" class="btn btn-primary btn-mystyle w-100">Отправить</button>
                </form>

                <p class="mt-3 small">Нажимая на кнопку, я соглашаюсь на <a href="/documents/politika_obrabotki_personalnih_dannih"> обработку персональных данных</a> </p>

                </div>

            </div>
        </div>
</div>





{% endblock %}