{% load static %}
<link rel="stylesheet" href="{% static 'css/includes/lector_banner.css' %}" />


{% for lector in lectors %}
{% if lector  %}

            <div class="container">
                <div class="container col-lg-12 mt-5">
                  <div class="row rounded-5 text-white overflow-hidden" style="background:#08113c;">
                      <div class='col-md-4 p-0' >
                                {% if lector.image %}
                                        <img class="img-fluid" src="{{ lector.image.url }}" >
                                {% endif %}
                      </div>
                      <div class='col-md-8 p-0 lector-banner-text' >
                              <div class="container-fluid h-100 d-flex flex-column p-md-5 py-5 px-3">
                                            <p class="h4"> ЛЕКТОР: </p>
                                            <p class="h2 fw-bold"> {{ lector.name }} </p>
                                            <p class="h5"> {{ lector.specialization }} </p>
                                             <p  {{ lector.short_desc|linebreaks }} </p>
                              </div>

                      </div>


                  </div>
                </div>
            </div>
{% endif %}
{% endfor %}

