{% load static %}

{% block marque %}

<!-- Marque -->
<link rel="stylesheet" href="{% static 'css/includes/marque.css' %}" />

<div class="container">
        <div class="content">
          <p class="h1 mt-5 mb-2 fw-bold text-center"> Наши партнеры</p>
          <div class="marque">
          <div class="wrap">
              <div class="items-wrap">
                  <div class="items-wrap">
                      <div class="items marquee">
                        <div class="item"><img src="{% static 'img/partners/stomat_krim.png' %}"></div>
                        <div class="item"><img src="{% static 'img/partners/dental_magazine.png' %}"></div>
                         <div class="item"><img src="{% static 'img/partners/stomat_krim.png' %}"></div>
                        <div class="item"><img src="{% static 'img/partners/dental_magazine.png' %}"></div>
                      </div>
                      <div aria-hidden="true" class="items marquee">
                        <div class="item"><img src="{% static 'img/partners/stomat_krim.png' %}"></div>
                        <div class="item"><img src="{% static 'img/partners/dental_magazine.png' %}"></div>
                        <div class="item"><img src="{% static 'img/partners/stomat_krim.png' %}"></div>
                        <div class="item"><img src="{% static 'img/partners/dental_magazine.png' %}"></div>
                          <!-- Place for items -->

                      </div>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
{% endblock %}