{% load static %}
<!-- Swiper -->
<link rel="stylesheet" href="{% static 'css/includes/swiper-bundle.min.css' %} "/>
<link rel="stylesheet" href="{% static 'css/includes/swiper.css' %}" />



<!-- Slider main container -->
    <div class="container">
        <h2 class="swiper-header"> Актуальные семинары </h2>
        <div class="swiper swiper1">

      <!-- Additional required wrapper -->
          <div class="swiper-wrapper">
              {% for seminar in seminars %}
              <!-- Slide -->
                  <div class="swiper-slide">
                    <div class="swiper-seminar">
                      <div class="img-container">

                        <div class="img-wrapper">
                          <img src="{{ seminar.lector.image.url }}">
                        </div>

                        <div class="img-wrapper">
                            {% if seminar.lector_2 %}
                            <img src="{{ seminar.lector_2.image.url }}">
                            {% endif %}
                        </div>

                      </div>
                      <div class="text-container">
                          <p class="author"> {{ seminar.lector.name }} {% if seminar.lector_2 %}  и {{seminar.lector_2.name}} {% endif %}</p>
                          <p class="title"> {{ seminar.name }} </p>
                          <div class="tag-container">
                              <p class="tag"> #стоматологу </p>
                              <p class="tag"> #имплантологу </p>
                              <p class="tag"> #стоматологу </p>
                              <p class="tag"> #имплантологу </p>
                          </div>
                              <div class="seminar-bottom">
                              <p class="date"> 21.01.2024 </p>
                              <a href = 'seminar/{{ seminar.slug }}' class="button"> Подробнее </a>
                      </div>
                      </div>
                      </div>
                  </div>
                    {% endfor %}

                  <div class="swiper-slide">
                    <div class="swiper-seminar">
                      <div class="img-container">
                        <div class="img-wrapper">
                          <img src="{% static 'img/image_1.png' %}">
                        </div>
                        <div class="img-wrapper">
                            <im2g src="{% static 'img/image_1.png' %}">
                        </div>
                      </div>
                      <div class="text-container">
                          <p class="author"> Александр Амиянц </p>
                          <p class="title">   — 4 класс Послойная техник сквоезца при сквозном дефекте — 4 класс Послойная техник сквоезца при сквозном дефекте — 4 класс Послойная техника</p>
                          <div class="tag-container">
                              <p class="tag"> #стоматологу </p>
                              <p class="tag"> #имплантологу </p>
                              <p class="tag"> #стоматологу </p>
                              <p class="tag"> #имплантологу </p>
                          </div>
                              <div class="seminar-bottom">
                              <p class="date"> 21.01.2024 </p>
                              <a href = '#' class="button"> Подробнее </a>
                      </div>
                      </div>
                      </div>
                  </div>

    </div>


    <!-- If we need navigation buttons -->
    <div class="swiper-pagination"></div>

  </div>