{% load static %}

<div class="container">
    <div class="container rounded-5 my-5 text-white py-5 p-md-5" style="background:#08113c; background-repeat: no-repeat;  background-position-x:35%;background-image: url('static/img/includes/why_us/why_us10.jpg')">
        <div class="row">
            <div class='col-md-5' >
                <p class="display-4 text-center text-md-end mb-5">Почему стоит выбрать нас?</p>
            </div>


            <div class='col-md-7 px-md-5' style="color:#140D4F">
                <div class='h-100 d-flex flex-column mt-auto justify-content-center'>
                    <div class="row">
                        <div class="col-6 display-4 text-start" >
                            <div class="bg-light p-4 rounded-5 h-100" style="min-height:10rem;">
                             <p class=" display-2 counter my-auto"> 50 </p>
                             <p class="h6 my-auto"> успешных семинаров</p>
                            </div>
                        </div>

                        <div class="col-6 display-4  text-start" >
                            <div class="bg-light p-4 rounded-5 h-100 " style="min-height:10rem;">
                             <p class=" display-2 counter my-auto"> 6 </p>
                             <p class="h6 my-auto"> лет работы </p>
                            </div>

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 display-4 my-4 text-start" >
                            <div class="bg-light p-4 rounded-5 h-100 d-flex" style="min-height:10rem;">
                                <div class="d-flex flex-column">
                                    <p class="d-flex display-2 counter my-auto"> 1000 </p>
                                    <p class="d-flex h6 my-auto"> участников </p>
                                </div>

                                <a href="/about"  class="display-6 my-auto ms-auto" style="color:#140D4F">
                                    <i class="fa fa-arrow-right" aria-hidden="true"></i> </a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>