{% load static %}

{% block content %}

<div class="container col-lg-12 my-5">
    <div class="row">
        <div class='col-md-6'>
            <div class="container-fluid h-100 d-flex flex-column p-md-5 py-5 px-3"><h1 class="display-4 fw-bold mb-2">
                Отзывы</h1>
                <p class="mb-3">Организация и проведение профессиональных семинаров, конгрессов, конференций, тренингов,
                    практических занятий и мастер-классов для стоматологов и зубных техников.</p>
            </div>
        </div>

        <div class='col-md-6 p-0'>
            <img class='img-fluid  rounded-5' src="{% static 'img/index_double.jpg' %}">
        </div>


    </div>
</div>


{% endblock %}