{% load static %}

{% block marque %}
<div class="container">
        <div class="content">
          <h1> Наши партнеры</h1>
          <div class="marque">
          <div class="wrap">
              <div class="items-wrap">
                  <div class="items-wrap">
                      <div class="items marquee">
                        <div class="item"><img src="{% static 'img/partners/stomat_krim.png' %}"></div>
                        <div class="item"><img src="{% static 'img/partners/dental_magazine.png' %}"></div>
                        <div class="item"></div>
                        <div class="item"></div>
                        <div class="item"></div>
                        <div class="item"></div>
                        <div class="item"></div>
                        <div class="item"></div>
                        <div class="item"></div>
                        <div class="item"></div>
                      </div>
                      <div aria-hidden="true" class="items marquee">
                        <div class="item"></div>
                        <div class="item"></div>
                        <div class="item"></div>
                        <div class="item"></div>
                        <div class="item"></div>
                        <div class="item"></div>
                        <div class="item"></div>
                        <div class="item"></div>
                        <div class="item"></div>
                        <div class="item"></div>
                      </div>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
{% endblock %}