.about-head {
    background-image: url("/media/about_head.jpg");
    background-size: cover;

}

.hyphens {
    color:#2F375C;
    hyphens: auto;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    word-wrap: break-word;
}
