h2 {
    text-align:start;
    font-weight: bold;
    margin-top:15px;
    margin-bottom:15px;
}

.double-box-text-image {
    height: 500px;

    .image {

        img{
            height:100%;
        }
    }

    .text {

        background:#e2e6f3;
        color:black;

        .counters-box {
        display:flex;
        justify-content:space-between;
        color:#2F375C;
            .counter-wrapper {
                display:flex;
                flex-direction:column;
                 width:50%;
            }
         }


    }
    h1 {


    }
    h2 {
        font-size:60px;
        text-align:left;
        font-weight: bold;

    }
    h3 {
        text-align:left;
        text-transform: uppercase;
        font-weight:bold;


    }


style="display:flex;flex-direction:column; width:50%; margin-right: 10px;"


}




@property --num {
  syntax: "<integer>";
  initial-value: 0;
  inherits: false;
}

.counter {
  transition: --num 5s;
  counter-set: num var(--num);
}
.counter::after {
  content: counter(num);

}



@media (max-width: 1000px) {
.double-box-text-image{
    height: auto;

    h2 {
        font-size:48px;
    }

    .text {
        margin-bottom: 40px;
    }



    }




}
