@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');


html {
  box-sizing: border-box;
  height: 100%;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}





body {

  display: flex;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  line-height: 1.2;
  height: 100%;
  background-color: #fff;
}

a {
    text-decoration: none;
}




.accordion li
    {
    margin-bottom:10px;
    }

.seminar-lector li
{
    margin-bottom:10px;
}




.btn-mystyle {
    border-radius:10px;
    color:white;
    background: #08113c;
    padding: 10px;
    text-align: center;
    border:none;
}


@media (max-width: 1000px) {
nav {
  font-size: 20px;
}
}
