@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

html {
  box-sizing: border-box;
  height: 100%;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}



body {

  display: flex;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  line-height: 1.2;
  height: 100%;
}

a {
    text-decoration: none;
}

a:visited {
  color: black;
}

.navbar .container {
    height: 100%;
    margin-top: 0;
    margin-bottom: 0;
}

.container {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 15px;
}

.container-sc{
  display:flex;
  width: 100%;
  max-width: 1300px;
  margin-right: auto;
  margin-left: auto;
}



.inner-container{
  padding:50px;
}


.double-box-text-image{
  display:flex;
  font-weight: normal;
  background: white;
  height: 600px;
  width:100%;
  background: #e2e6f3;

  .image{
    width: 50%;
    display:flex;
    overflow: hidden;

    img {
        height:100%;
    }
  }
  .text {
    width:50%;
    padding:50px;
    display:flex;
    flex-direction:column;
    color:white;


  }

}


.main {
  background-color: white;
  flex: 1 0 auto;
  margin-top: 75px;
}

h1 {
    font-size:48px;
}

h2 {
    font-size:36px;
}

h3 {
    font-size:30px;
}

h4 {
    font-size:24px;
}

p {

font-size: 18px;

}

.footer {
  background-color: #212429;
  flex: 0 0 auto;
}

.content {
  padding: 50px 0;
}

.footer .content {
  color: #fff;
}

.navbar {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 75px;
  background: white;
  z-index:9999;

}

.navbar__wrap {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.hamb {
  display: none;

}

.popup {
  display: none;
}

.logo {
  text-decoration: none;
  color: black;
  font-size: 25px;
  font-weight: bold;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}

.menu > li > a {
  text-decoration: none;
}

.navbar__wrap .menu {
  display: flex;
}

.navbar__wrap .menu > li {
  display: flex;
  align-items: stretch;
}

.navbar__wrap .menu > li > a {
  font-size: 18px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  color: #D0D0D0;
}

.navbar__wrap .menu > li > a:hover {
    transition: color 50ms linear;
    color: black;
}


.contact-box {
    display: flex;
}

.contact-box a{
    margin-top:auto;
    margin-bottom:auto;
    font-size: 24px;
}


@media (max-width: 1000px) {
.inner-container{
    padding:0;
    padding-left: 10px;
    padding-right: 10px
}

.main {
  margin-top:50px;
}

.container {
    margin:0;
    padding: 0 10px;
}


.double-box-text-image {
    display:flex;
    flex-direction: column;
    height: calc(100vh - 50px);

    .image {
        width:100%;
        img { width:100%; }

        }

    .text {
    width:100%;
    padding: 40px 10px;


}

}




.navbar {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 50px;
  background: white;
  z-index:9999;
}


  .navbar__wrap .menu {
    display: none;
  }

  .logo {
  color: black;
  font-size: 18px;
}


  .hamb {
    display: flex;
    align-items: center;

  }

  .hamb__field {
    padding: 10px 20px;
    cursor: pointer;
  }

  .bar {
    display: block;
    width: 30px;
    height: 2px;
    margin: 6px auto;
    background-color: #fff;
    transition: 0.2s;
    background-color: black;
  }

  .popup {
    position: fixed;
    top: 0px   ;
    right: -100%;
    width: 70%;
    height: 100%;
    background-color: #fff;
    display: flex;
    transition: 0.3s;
  }

  .popup.open {
    right: 0;
  }





  .popup .menu {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding: 50px 0;
    overflow: auto;
  }
  .popup .menu > li {
    width: 100%;
  }
  .popup .menu > li > a {
    width: 100%;
    display: flex;
    justify-content: left;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: normal;
    color: black;
  }
  .popup .menu .custom-button:before {
        content: "  WhatsApp";
  }
  .popup .menu > li:first-child {
    padding-top: 20px;
  }

  .popup .menu li:last-child a{
    color:black;
  }

  .popup .menu > li > a:hover {
    background-color: 	#DCDCDC;
  }

  .hamb__field.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamb__field.active .bar:nth-child(1) {
    position: sticky;
    transform-origin: top right;
    transform: translateY(-2.27px) rotate(-45deg);
    background-color: black;
    z-index: 10;

  }
  .hamb__field.active .bar:nth-child(3) {
    position: sticky;
    transform-origin: bottom right;
    transform: translateY(2.27px) rotate(45deg);
    background-color: black;
    z-index: 10;


  }
  body.noscroll {
    overflow: hidden;
  }
}