{% load static %}

{% block content %}

<div class="my-5">

    <div class="container my-5 p-4 ">
    <div class="row rounded-5 " style="background:#a4c639;">


                <div class="container col-md-6 rounded-5 p-5">
                    <p class="text-start display-5 mb-4 text-white fw-bold lh-1"> Скидки до -60% <br> для студентов, ординаторов</p>
                    <p class="text-white"> Съешь еще этих мягких французских булок. Съешь еще этих мягких французских булок.Съешь еще этих мягких французских булок. </p>
                </div>


                <div class="col-md-6 d-flex flex-column align-items-center">
                    <div class="col-lg-9">
                        <img src="{% static 'img/seminar/discount.png' %}" class="img-fluid rounded-5 p-4" >
                    </div>

                </div>




    </div>

    </div>

</div>


{% endblock %}