{% load static %}


{% block css %}
<style>
    .background {
      background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3) ), url("{{ seminar.image.url }}");
      background-size: cover;
      background-position: center center;
    }

</style>

{% endblock %}

{% block content %}


<div class="py-5 background " >


    <div class="container col-md-12" >
        <div class="row">
            <div class='col-md-6'>
                <div class="w-100 mb-4 mb-md-0">
                    <img class='img-fluid object-fit-cover rounded-5 overflow-hidden d-md-none' src="{{ seminar.image.url }}">
                </div>
            </div>


            <div class='col-md-6 '>
                <div class="h-100 overflow-hidden">
                    <div class=' h-100 d-flex flex-column p-md-5 py-5 px-3 p-3 rounded-5 bg-white '>
                        <p class="fw-bold display-6 mb-md-4 mb-5"> {{ seminar.name }} </p>
                        <div class="d-grid gap-1 ">
                            <div class="rounded-5 bg-white p-3 border">
                                <div class="  d-flex align-items-center">
                                    <i class=" fas fw-bold fs-4 fa-calendar-alt me-3 " style="color:#a4c639"></i>

                                    {% if seminar.start_date == seminar.end_date %}
                                    {{ seminar.start_date|date:"d E Y" }}
                                    {% elif seminar.start_date != seminar.end_date %}
                                    {{ seminar.start_date|date:"d" }} - {{ seminar.end_date|date:"d E" }}
                                    {% endif %}
                                </div>

                            </div>

                            <div class="rounded-5 bg-white p-3 border ">

                                <div class=" d-flex align-items-center">
                                    <i class="fas fw-bold fs-3 fa-map-marker-alt me-3" style="color:#a4c639"></i> <span>  {{ seminar.address }} </span>
                                </div>

                            </div>


                            <div class="rounded-5 bg-white p-3 border ">

                                <div class="  d-flex align-items-center">
                                    <i class="fas  fs-4 fa-chalkboard-teacher me-3 " style="color:#a4c639"></i>
                                    {{ seminar.lector.name }}
                                    {% if seminar.lector_2 %}
                                    и {{ seminar.lector_2.name }}
                                    {% endif %}
                                </div>

                            </div>


                            <div class="d-flex flex-row my-2 mb-4 gap-1 flex-wrap">
                                {% for tag in seminar.tags.all %}
                                <p class="m-0 px-2 py-1 rounded-5 bg-white " style=" border: 1px solid #a4c639"><small>{{ tag.text }}</small></p>
                                {% endfor %}
                            </div>


                        </div>
                        <a class="rounded-5 text-reset  btn btn-primary btn-mystyle mt-md-auto mt-4 " onclick="scrollToElement('price-form')"
                           style="background:#a4c639">
                            <div class="text-white  fs-5">Записаться</div>
                        </a>
                    </div>

                </div>

            </div>


        </div>
    </div>

</div>



{% endblock %}


{% block scripts %}


<script>
function scrollToElement(id) {
    const element = document.getElementById(id);
    if (element) {
        element.scrollIntoView({ behavior: 'smooth', block: 'center' });
    }
}
</script>

{% endblock %}