{% block content %}


<div class="container">
        <div class=" rounded-5 ">
            <div class="row">
                <div class="col-md-6 container ">
                    <p class="text-center text-md-start fw-bold display-5 mb-5 mb-md-3">
                        Лекторы
                    </p>
                </div>


                <div class="col-md-6">
                    {% for lector in lectors %}
                        <div class="rounded-5 mb-4 bg-light">
                            <div class="row">
                                <div class=" col-md-4">
                                    {% if lector.image %}
                                    <img class="img-fluid rounded-5 " src="{{ lector.image.url }}">
                                    {% endif %}
                                </div>
                                <div class="col-md-8 p-4 p-md-0">
                                    <div class="container p-md-3  rounded-5 h-100">
                                        <div class="d-flex h-100">
                                            <div>
                                                <p class="fw-bold fs-4"> {{ lector.name }} </p>
                                                <p class="mb-3"> {{ lector.specialization }} </p>
                                                <p> {{ lector.short_desc|linebreaks }} </p>

                                            </div>


                                            <button class="btn collapse-button collapsed ms-auto " type="button"
                                                    data-bs-toggle="collapse"
                                                    data-bs-target="#collapseProgram{{ forloop.counter0 }}" aria-expanded="false"
                                                    aria-controls="collapseProgram">
                                                <p class="text-end "><i class="fs-4 fa fa-chevron-down text-end"
                                                                        aria-hidden="true"></i></p>
                                            </button>

                                        </div>


                                    </div>


                                </div>


                                <div class="collapse " id="collapseProgram{{ forloop.counter0 }}">
                                    <div class="p-3">
                                        <div class="text container  rounded-5 p-3 bg-white ">
                                            <p class="fs-3 mb-3">О лекторе</p>
                                            {{ lector.long_desc|linebreaks }}
                                        </div>


                                    </div>

                                </div>


                            </div>
                        </div>
                        {% endfor %}


                </div>

            </div>
        </div>
    </div>

{% endblock %}






