{% block content %}

{% for lector in lectors %}

<div class=" seminar-lector container my-5 ">

        <div class="container bg-light rounded-5">


                <div class="row">

                <div class="col-md-5 ms-auto p-0 p-md-5">

                    {% if lector.image %}
                    <img class="img-fluid rounded-5 " src="{{ lector.image.url }}">
                    {% endif %}

                </div>

                <div class="col-md-7 me-auto">
                    <div class="container rounded-5 p-5 px-3 py-5 ">
                            <p class="fw-bold mb-1 fs-2"> {{ lector.name }} </p>
                            <p class=" mb-4"> {{ lector.specialization }} </p>
                            <p class="seminar-lector-content">  {{ lector.content | safe |linebreaks }} </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endfor %}
{% endblock %}






