


{% load static %}

{% block content %}






<div class="container my-4 ">

    <div class="row">
                <div class='col-md-6' >
                    <p class="display-4 text-center text-md-start mb-5">Описание </p>
                </div>
                <div class='col-md-6'>
                    <div class="container bg-light p-4  rounded-5">
                        <p class="text-start fs-4 mb-4 fw-bold">{{ seminar.name }}</p>
                        <p class="">Организация и проведение профессиональных семинаров, конгрессов, конференций, тренингов, практических занятий и мастер-классов для стоматологов и зубных техников.
                        Организация и проведение профессиональных семинаров, конгрессов, конференций, тренингов, практических занятий и мастер-классов для стоматологов и зубных техников.
                        Организация и проведение профессиональных семинаров, конгрессов, конференций, тренингов, практических занятий и мастер-классов для стоматологов и зубных техников.
                        Организация и проведение профессиональных семинаров, конгрессов, конференций, тренингов, практических занятий и мастер-классов для стоматологов и зубных техников.
                        Организация и проведение профессиональных семинаров, конгрессов, конференций, тренингов, практических занятий и мастер-классов для стоматологов и зубных техников.
                        Организация и проведение профессиональных семинаров, конгрессов, конференций, тренингов, практических занятий и мастер-классов для стоматологов и зубных техников.
                        </p>
                    </div>






                </div>

            </div>
    </div>

{% endblock %}