{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container">
        <p class="h2 fw-bold ms-1 my-2">ИП ГАБЕХАДЗЕ Э.В.</p>
     <table class="table table-bordered my-3">
        <tbody>
            <tr>
                <th scope="row">ИНН</th>
                <td>781624184640</td>
            </tr>
            <tr>
                <th scope="row">ОГРНИП</th>
                <td>321237500002510</td>
            </tr>
            <tr>
                <th scope="row">Расчетный счет</th>
                <td>40802810020550001406</td>
            </tr>
            <tr>
                <th scope="row">Банк</th>
                <td>Банк ВТБ (ПАО), Филиал «Центральный» банка ВТБ(ПАО), ИНН 7702070139, ОКПО 01929672</td>
            </tr>
            <tr>
                <th scope="row">БИК</th>
                <td>044525411</td>
            </tr>
            <tr>
                <th scope="row">Корр. счет</th>
                <td>30101810145250000411 в ГУ Банка России по ЦФО</td>
            </tr>
            <tr>
                <th scope="row">Юридический адрес</th>
                <td>350062, г Краснодар, пр-т. Им Константина Образцова, дом № 6/1, кв 26</td>
            </tr>
            <tr>
                <th scope="row">Почтовый адрес</th>
                <td>350062, г Краснодар, пр-т. Им Константина Образцова, дом № 6/1, кв 26</td>
            </tr>
            <tr>
                <th scope="row">Телефон</th>
                <td>+7(918)377-71-99</td>
            </tr>
            <tr>
                <th scope="row">e-mail</th>
                <td>expo@ctakk.ru</td>
            </tr>
            <tr>
                <th scope="row">Индивидуальный предприниматель</th>
                <td>Габехадзе Элла Викторовна</td>
            </tr>
            <tr>
                <th scope="row">Действующий на основании государственной регистрации</th>
                <td>от 15 января 2021г, номер OГPНИП 321237500002510</td>
            </tr>
        </tbody>
    </table>
</div>



</div>


{% endblock content %}