{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container">
    <p class="h2 fw-bold ms-1 my-2">ИП ГРИГОРЬЕВА Е.В.</p>
    <table class="table table-bordered my-3">
        <tbody>
        <tr>
            <th scope="row">ИНН</th>
            <td>230806100397</td>
        </tr>
        <tr>
            <th scope="row">ОГРНИП</th>
            <td>324237500142693</td>
        </tr>
        <tr>
            <th scope="row">Расчетный счет</th>
            <td>40802810506710003179</td>
        </tr>
        <tr>
            <th scope="row">Банк</th>
            <td>Банк ВТБ (ПАО), Филиал «Центральный» банка ВТБ (ПАО), ИНН 7702070139, КПП 770943002 ОКПО 01929672</td>
        </tr>
        <tr>
            <th scope="row">БИК</th>
            <td>044525411</td>
        </tr>
        <tr>
            <th scope="row">Корр. счет</th>
            <td>30101810145250000411 в ГУ Банка России по ЦФО</td>
        </tr>
        <tr>
            <th scope="row">Юридический адрес</th>
            <td>350012, г. Краснодар, ул. Красных Партизан, дом № 4/4,кв.107</td>
        </tr>
        <tr>
            <th scope="row">Почтовый адрес</th>
            <td>350012, г. Краснодар, ул. Красных Партизан, дом № 4/4, кв.107</td>
        </tr>
        <tr>
            <th scope="row">Телефон</th>
            <td>+7(918)686-11-42, +7(978)742-11-92</td>
        </tr>
        <tr>
            <th scope="row">e-mail</th>
            <td>dent@dentima-class.ru</td>
        </tr>
        <tr>
            <th scope="row">Индивидуальный предприниматель</th>
            <td>Григорьева Екатерина Вайрамовна</td>
        </tr>
        <tr>
            <th></th>
            <td>
                <p> Действующий на основании государственной регистрации <br>от 08 апреля 2024 года, номер OГPНИП 324237500142693</p>
            </td>
        </tr>
        </tbody>
    </table>


</div>




{% endblock content %}