{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="my-5">
        <p class="h2 fw-bold text-center my-3 my-md-5"> Публичный договор-оферта о предоставлении услуг (публичная оферта) <br> от 10.02.2022 года</p>

        <p class="text-uppercase fw-bold">Ознакомьтесь, пожалуйста, с настоящим договором, прежде чем продолжить процедуру оплаты.</p>
        <p class="fw-bold my-2">1. Общие положения</p>
        <p> 1.1. Данный документ является официальным предложением на заключение договора возмездного оказания услуг (публичной офертой) ИП Габехадзе Эллы Викторовны, ОГРНИП 321237500002510, ИНН 781624184640, именуемого в дальнейшем «Исполнитель», и содержит все существенные условия предоставления Услуг любому юридическому или физическому лицу, именуемому в дальнейшем «Заказчик».</p>
        <p>1.2. В соответствии с пунктом 3 статьи 438 Гражданского Кодекса Российской Федерации (далее по тексту – «ГК РФ»), в случае совершения лицом, получившим оферту действий по выполнению указанных в ней условий договора (в частности, оплата услуг), действия считаются акцептом оферты. При этом договор считается заключенным без подписания в каждом конкретном случае, так как акцепт оферты приравнивается к заключению договора на указанных ниже условиях.</p>
        <p>1.3. Акцептом (полным и безоговорочным принятием Заказчиком предложения Исполнителя заключить настоящий договор-оферту) является факт подтверждения готовности совершить оплату выбранной услуги Исполнителя, посредством нажатия кнопки «Оплатить» на сайте <a href="https://www.dentima-class.ru/">https://www.dentima-class.ru/</a></p>
        <p>1.4. Совершая действия по акцепту настоящего публичного договора-оферты, Заказчик подтверждает свою правомерность, полномочия, дееспособность, достижение возраста 18-ти лет, а также законное право, не оговоренное выше, вступать в договорные отношения с Исполнителем.</p>
        <p>1.5. Договор не требует скрепления печатями и/или подписания Заказчиком и Исполнителем (далее по тексту – «Стороны») и сохраняет при этом юридическую силу.</p>

        <p class="fw-bold my-2"> 2. Предмет договора-оферты
        <p>2.1. Исполнитель обязуется оказать Заказчику информационно-консультационные услуги по организации обучающих мероприятий, выбранных Заказчиком на сайте Исполнителя в сети Интернет по адресу: <a href="https://www.dentima-class.ru/">https://www.dentima-class.ru/</a>, а Заказчик обязуется оплатить эти услуги в соответствии с условиями настоящего договора-оферты.</p>
        <p>2.2. Полный перечень услуг, их стоимость, способы и порядок оплаты стоимости услуг, тематика, содержание, время, сроки и порядок проведения мероприятий размещен на официальном сайте Исполнителя в сети Интернет по адресу: <a href="https://www.dentima-class.ru/">https://www.dentima-class.ru/</a>.</p>

        <p class="fw-bold my-2"> 3. Порядок оказания услуг</p>
        <p>3.1. Услуги оказываются Исполнителем как лично, так и с привлечением третьих лиц. Необходимость привлечения третьих лиц для оказания услуг определяет Исполнитель в одностороннем порядке.</p>
        <p>3.2. До начала мероприятий, организуемых Исполнителем, Заказчик предоставляет Исполнителю все данные, необходимые для принятия им участия в обучении.</p>
        <p>3.3. Заказчик своевременно и самостоятельно знакомится с графиком проведения мероприятий по обучению, размещенном на сайте Исполнителя в сети интернет по адресу <a href="https://www.dentima-class.ru/">https://www.dentima-class.ru/</a> в соответствующем разделе.</p>
        <p>3.4. Заказчик обязуется посещать все мероприятия в рамках образовательного курса лично.</p>
        <p>3.5. Стороны пришли к соглашению об отсутствии необходимости подписания акта приема-передачи оказанных услуг. При этом, в случае не поступления письменных претензий к качеству и объему оказанных услуг в течение 3 (трех) календарных дней со дня фактического окончания оказания услуг, оказанные услуги считаются принятыми Заказчиком по качеству и объему, что приравнивается Сторонами настоящего Договора к подписанию Акта приема-передачи оказанных услуг.</p>

        <p class="fw-bold my-2"> 4. Стоимость и порядок оплаты оказываемых услуг</p>
        <p>4.1. Стоимость предоставляемых услуг определяется Исполнителем в одностороннем порядке в российских рублях и размещается в сети Интернет по адресу: <a href="https://www.dentima-class.ru/">https://www.dentima-class.ru/</a> в разделе каждого отдельного образовательного мероприятия.</p>
        <p>4.2. Исполнитель вправе в одностороннем порядке изменять стоимость на предоставляемые Услуги, информация о которых размещается в сети Интернет по адресу: <a href="https://www.dentima-class.ru/">https://www.dentima-class.ru/</a></p>
        <p>4.3. Датой вступления в силу новых цен и условий оплаты считается дата их размещения на сайте Исполнителя.</p>
        <p>4.4. Услуги, оказываемые по настоящему Договору, оплачиваются путем предоплаты в размере 100% (сто процентов) в течение 1 (одного) банковского дня с момента акцепта настоящего договора-оферты, но не позднее срока, установленного Исполнителем для приема заявок на участие в выбранном Исполнителем образовательном мероприятии. Информация о сроке приема заявок по услугам, размещается Исполнителем в сети Интернет по адресу: <a href="https://www.dentima-class.ru/">https://www.dentima-class.ru/</a> в разделе выбранного Исполнителем образовательного мероприятия.</p>
        <p>4.5. Оплата услуг по настоящему Договору производится в безналичном порядке. При этом, моментом оплаты является момент поступления денежных средств на расчетный счет Исполнителя. Все возможные способы оплаты стоимости Услуг Исполнителя перечислены на сайте Исполнителя в сети Интернет по адресу: <a href="https://www.dentima-class.ru/">https://www.dentima-class.ru/</a> при оформлении Заказчиком платежа.</p>
        <p>4.6. Оплата услуг третьими лицами за Заказчика допускается исключительно при указании всех данных, идентифицирующих непосредственно Заказчика, за которого производится оплата, и данных об оплачиваемой программе/мероприятии.</p>

        <p class="fw-bold my-2"> 5. Гарантии Исполнителя</p>
        <p>5.1. Заказчик вправе отказаться от исполнения настоящего договора-оферты в одностороннем порядке, в срок не позднее, чем за 30 (Тридцать) календарных дней до начала выбранного образовательного курса. При этом, Исполнитель удерживает 30% стоимости Услуг в качестве невозвратного залога.</p>
        <p>В случае, если Заказчик отказывается от исполнения настоящего договора-оферты в срок, не позднее, чем за 14 (Четырнадцать) календарных дней, то Исполнитель обязуется вернуть ему 50% стоимости Услуг.</p>
        <p>Возврат стоимости производится Исполнителем в течение 7 (Семи) банковских дней с момента получения уведомления Заказчика о расторжении договора-оферты на прохождение выбранного и оплаченного им образовательного курса.</p>
        <p>5.2. В случае отмены проведения образовательного курса Исполнителем, Исполнитель обязуется вернуть Заказчику 100% стоимости Услуг. Возврат стоимости производится Исполнителем в течение 7 (Семи) банковских дней со дня официального объявления об отмене проведения образовательного курса.</p>

        <p class="fw-bold my-2"> 6. Порядок урегулирования споров</p>
        <p>6.1. Претензии Заказчика по предоставляемым услугам принимаются Исполнителем к рассмотрению по электронной почте в течение 3 (трех) календарных дней с момента возникновения спорной ситуации.</p>
        <p>При рассмотрении спорных ситуаций Исполнитель вправе запросить у Заказчика всю интересующую документацию относительно рассматриваемого мероприятия.</p>
        <p>В случае непредоставления Заказчиком документов в течение 2 (двух) календарных дней после дня требования, претензия рассмотрению Исполнителем не подлежит.</p>
        <p>6.2. Сторона, получившая претензию обязана дать на нее ответ в течение 10 (десяти) рабочих дней со дня получения.</p>
        <p>6.3. Направленные Исполнителю претензии рассматриваются в рамках действующего законодательства Российской Федерации.</p>
        <p>6.4. Досудебный порядок урегулирования спора является обязательным для Сторон.</p>
        <p>6.5. В случае не урегулирования спора в судебном порядке, он передается на рассмотрение в суд по месту нахождения Исполнителя.</p>

        <p class="fw-bold my-2"> 7. Заключение, изменение, расторжение настоящего договора-оферты</p>
        <p>7.1. Моментом заключения (акцепта) настоящего договора-оферты считается момент зачисления оплаты на расчетный счет Исполнителя за выбранную Заказчиком услугу, при условии оформления/получения от него по электронным каналам связи заявки на участие в мероприятии по форме, размещенной на сайте по адресу: <a href="https://www.dentima-class.ru/">https://www.dentima-class.ru/</a>.</p>
        <p>7.2. Исполнитель оставляет за собой право изменять или дополнять любые из условий настоящего договора-оферты в любое время, опубликовывая все изменения на своем сайте. Если опубликованные изменения для Заказчика неприемлемы, то он в течение 7 (семи) календарных дней с момента опубликования изменений должен уведомить об этом Исполнителя письменно. Если уведомления не поступило, то считается, что Заказчик продолжает принимать участие в договорных отношениях на новых условиях.</p>
        <p>7.3. Стороны вправе расторгнуть настоящий договор-оферту по взаимному согласию в любой момент до фактического исполнения Договора.</p>

        <p class="fw-bold my-2"> 8. Заключительные положения</p>
        <p>8.1. Заказчик дает согласие на обработку, хранение Исполнителем персональных данных Заказчика, содержащихся в заявке (фамилия, имя, отчество, возраст, электронный адрес, почтовый адрес, номер телефона, а также IP-адрес посетителя сайта Исполнителя), а также на публикацию этих данных на сайте Исполнителя по адресу в сети Интернет <a href="https://www.dentima-class.ru/">https://www.dentima-class.ru/</a> для открытого доступа.</p>
        <p>8.2. Информация, передаваемая и/или высылаемая Заказчику в рамках оказываемых Исполнителем Услуг, предназначена только Заказчику, носит конфиденциальный характер и защищена положениями действующего законодательства об авторском праве и не может передаваться Заказчиком третьим лицам, тиражироваться, распространяться, пересылаться, публиковаться в электронной, «бумажной» или иной форме без дополнительных соглашений или официального письменного согласия Исполнителя.</p>
        <p>8.3. Исполнитель освобождается от ответственности за нарушение условий Договора, если такое нарушение вызвано действием обстоятельств непреодолимой силы (форс-мажор), включая: действия органов государственной власти, пожар, наводнение, землетрясение, другие стихийные действия, эпидемии (пандемии), отсутствие электроэнергии, забастовки, гражданские волнения, беспорядки, любые иные обстоятельства, не ограничиваясь перечисленным, которые могут повлиять на выполнение Исполнителем Договора.</p>
        <p>8.4. Исполнитель не несет ответственности за качество каналов связи общего пользования или служб, предоставляющих доступ Заказчика к выбранным им Услугам.</p>
        <p>8.5. Электронный документооборот по адресам электронной почты, указанной Исполнителем в настоящем Договоре, указанном Заказчиком в Заявке, приравнивается Сторонами к документообороту на бумажных носителях, в том числе, при направлении претензий и (или) ответов на претензии.</p>
        <p>8.6. По всем вопросам, не урегулированным настоящим договором-офертой, Стороны руководствуются действующим законодательством Российской Федерации.</p>

        <p class="fw-bold my-2"> 9. Реквизиты и контактные сведения Исполнителя</p>
        <p>ИП ГРИГОРЬЕВА Е.В. </p>
        <p>ИНН: 230806100397</p>
        <p>ОГРНИП: 324237500142693</p>
        <p>Расчетный счет: 40802810506710003179</p>
        <p>Банк: Банк ВТБ (ПАО), Филиал «Центральный» банка ВТБ(ПАО), ИНН 7702070139, ОКПО 01929672</p>
        <p>БИК: 044525411</p>
        <p>Корр. счет: 30101810145250000411 в ГУ Банка России по ЦФО</p>
        <p>Юридический адрес: 350012, г. Краснодар, ул. Красных Партизан, дом № 4/4, кв.107</p>
        <p>Почтовый адрес: 350012, г. Краснодар, ул. Красных Партизан, дом № 4/4, кв.107</p>
        <p>Телефон: +7(918)686-11-42, +7(978)742-11-92</p>
        <p>e-mail: dent@dentima-class.ru</p>
        <p>Индивидуальный предприниматель: Григорьева Екатерина Вайрамовна</p>
        <p>Действующий на основании государственной регистрации от 08 апреля 2024 года, номер OГPНИП 324237500142693</p>
    </div>
</div>

{% endblock content %}