{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
<p class="display-3 fw-bold text-center my-3 my-md-5"> Соглашение на обработку персональных данных</p>
    <div class="my-5">

            <p class="fs-6"> Присоединяясь к настоящему Соглашению и оставляя свои данные на Сайте https://www.dentima-class.ru/ , (далее – Сайт),
            путем заполнения полей онлайн-заявки (оформления заказа) Пользователь:<p>
        <div class="fs-6 ms-4 my-3" >
            <p class="mb-2"> - подтверждает, что указанные им персональные данные принадлежат лично ему; признает и подтверждает, что он
            внимательно и в полном объеме ознакомился с настоящим Соглашением и содержащимися в нем условиями обработки его персональных данных,
            указываемых им в полях онлайн заявки (регистрации) на Сайте;</p>

            <p class="mb-2"> - признает и подтверждает, что все положения настоящего Соглашения и условия обработки его персональных данных ему понятны;</p>
            <p class="mb-2"> - дает согласие на обработку Сайтом предоставляемых персональных данных в целях регистрации Пользователя на Сайте;</p>
            <p class="mb-2"> - выражает согласие с условиями обработки персональных данных без каких-либо оговорок и ограничений.</p>
        </div>


        <p class="fs-6 my-3">  Пользователь дает свое согласие на обработку его персональных данных, а именно совершение действий,
            предусмотренных п. 3 ч. 1 ст. 3 Федерального закона от 27.07.2006 N 152-ФЗ «О персональных данных», и подтверждает,
            что, давая такое согласие, он действует свободно, своей волей и в своем интересе. Согласие Пользователя на обработку персональных
            данных является конкретным, информированным и сознательным.
        <p>
        <p class="fs-6 my-3">  Настоящее согласие Пользователя применяется в отношении обработки следующих персональных данных:<p>

        <div class="fs-6 ms-4 my-3" >
            <p class="mb-2"> - фамилия, имя, отчество;</p>
            <p class="mb-2"> - номера телефонов;</p>
            <p class="mb-2"> - адресов электронной почты</p>
        </div>

        <p class="fs-6 my-3"> Пользователь, предоставляет сервису https://www.dentima-class.ru/ право осуществлять следующие действия (операции) с персональными данными: </p>
        <div class="fs-6 ms-4 my-3" >
            <p class="mb-2">  - сбор и накопление;</p>
            <p class="mb-2">  - хранение в течение установленных нормативными документами сроков хранения отчетности, но не менее трех лет, с момента даты прекращения пользования услуг Сайта Пользователем;</p>
            <p class="mb-2">  - уточнение (обновление, изменение);</p>
            <p class="mb-2">  - использование в целях регистрации Пользователя на Сайте;</p>
            <p class="mb-2">  - уничтожение;</p>
            <p class="mb-2">  - передача по требованию суда, в т.ч. третьим лицам, с соблюдением мер, обеспечивающих защиту персональных данных от несанкционированного доступа.</p>
            </div>


        <p class="fs-6 my-3"> Указанное согласие действует бессрочно с момента предоставления данных и может быть отозвано Вами путем подачи заявления администрации Сайта с указанием данных, определенных ст. 14 Закона «О персональных данных».</p>



        <p class="fs-6 my-3"> Отзыв согласия на обработку персональных данных может быть осуществлен путем направления Пользователем соответствующего распоряжения в простой письменной форме на адрес электронной почты (E-mail) dent@dentima-class.ru .</p>


        <p class="fs-6 my-3"> Сайт не несет ответственности за использование (как правомерное, так и неправомерное) третьими лицами информации, размещенной Пользователем на Сайте, включая её воспроизведение и распространение, осуществленные всеми возможными способами. Сайт имеет право вносить изменения в
            настоящее Соглашение. При внесении изменений в актуальной редакции указывается дата последнего обновления. Новая редакция Соглашения вступает в силу с момента ее размещения, если иное не предусмотрено новой редакцией Соглашения.</p>



        <p class="fs-6 my-3"> Действующая редакция всегда находится на странице по адресу: https://www.dentima-class.ru/politika-obrabotki-personalnih-dannih/</p>


        <p class="fs-6 my-3"> К настоящему Соглашению и отношениям между пользователем и Сайтом, возникающим в связи с применением Соглашения подлежит применению материальное и процессуальное право Российской Федерации.</p>







</div>


{% endblock %}