.card-seminars {
    height: 35rem;

}

.card-seminars .card-title {
    margin-bottom:auto;
    font-weight:bold;
}

.card-seminars .lector-wrap {
    margin-bottom:100px;
    display:flex; 
    flex-direction:row;
    margin-bottom:10px;
}


.card-seminars .lector-wrap img{
    height:35px;
    width:35px;
}






