.card {
    width: 15rem;
    height: 30rem;

}

.card .card-title {
    margin-bottom:auto;
    font-weight:bold;
}

.card .lector-wrap {
    margin-bottom:100px;
    display:flex; 
    flex-direction:row;
    margin-bottom:10px;
}

.card .lector-name {
    margin-left:10px;
    display:flex;
    justify-content:center;
    align-items: center;
}

.card .lector-wrap img{
    height:35px;
    width:35px;
}

.card .btn-mystyle {
    border-radius:10px;
    color:white;
    background: #2F375C;
    padding: 10px;
    text-align: center;'
}

