.contact-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 5px;
    transition: transform 0.2s ease;
    color: white;
}

.contact-button i {
    transition: transform 0.2s ease;
}

.contact-button:hover i {
    transform: scale(1.2);
}