.lector-banner .container{
    background-color: white;
    color: #2F375C;
}


.lector-banner .lector-banner-text{
    background-color:#2F375C;
    color: white;
}

.lector-banner .img-wrap {
    height: 30rem;
    background: #2F375C;

}

.lector-banner .lector-banner-image{
    background: #2F375C;
}