{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/about.css' %}"/>
<script src="{% static 'js/form_processing.js' %} "></script>
{% endblock %}


{% block content %}


{% include 'about/reviews.html' %}
{% include 'seminar/video_block.html' %}

<div class="container col-lg-12">
    <div class="row my-5">
        <div class='col-md-6 '>
            <div class=" container-fluid h-100 d-flex flex-column ps-md-0">
                <div class=" rounded-5 p-md-5  p-3 h-100 ps-md-0">
                    <h1 class="display-5 fw-bold mb-2 lh-1 mb-4  "> Сотрудничество </h1>


                    <p class="mb-3"> Мы ищем талантливых специалистов из разных областей стоматологии. Заполните форму ниже и мы с вами свяжемся. </p>


                        <!-- Button to open vertically centered modal -->
                        <button type="button" class="btn btn-mystyle btn-primary w-50 mt-3" data-bs-toggle="modal" data-bs-target="#modalCentered">
                          Стать лектором
                        </button>

                </div>


            </div>

        </div>


        <div class='col-md-6 p-0'>
            <div class="container p-md-0">
                <img class='img-fluid  rounded-5' src="{% static 'img/about/ab_2.jpg' %}">
            </div>
        </div>

    </div>
</div>


<!-- Vertically centered modal -->
<div class="modal fade" id="modalCentered" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header border-0">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">
        <div class="container">
            <p class="modal-title fs-1 fw-bold text-center lh-1 mb-3" id="exampleModalLabel"> Хотите сотрудничать? </p>
            <p class="modal-title fs-6  text-center lh-1 mb-3" id="exampleModalLabel"> Заполните форму ниже и мы свяжемся с вами</p>

          <form id="lector-form" class="feedback-form needs-validation" novalidate>
                    {% csrf_token %}
                    <div class="mb-3">
                        <input type="text" class="form-control name"  placeholder="Имя" required>
                        <div class="invalid-feedback">Введите имя.</div>
                    </div>
                    <div class="mb-3">
                        <div class="input-group">
                            <input type="tel" class="form-control phone" placeholder="Телефон" required>
                            <div class="invalid-feedback">Введите телефон.</div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <input type="email" class="form-control email"  placeholder="Электронная почта" required>
                        <div class="invalid-feedback">Введите электронную почту.</div>
                    </div>

                    <div id='alert-success' class="alert alert-success d-none" role="alert">
                        <i class="fs-5 fas fa-check-circle"> &nbsp </i>
                        <div>Спасибо за заявку, ожидайте звонка</div>
                    </div>

                    <button type="submit" class="btn btn-primary btn-mystyle w-100 ">Отправить</button>
                </form>


          <p class="mt-3 small">Нажимая на кнопку, я соглашаюсь на <a href="/documents/politika_obrabotki_personalnih_dannih" target="_blank"> обработку персональных данных</a></p>
        </div>
      </div>
    </div>
  </div>
</div>



{% endblock %}