{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/about.css' %}" />
<script src="{% static 'js/form_processing.js' %} "> </script>
{% endblock %}


{% block content %}



<div class="container col-lg-12">
    <div class="row">      
        <div class='col-md-6 p-0'> 
            <div class="container-fluid h-100 d-flex flex-column p-md-5 py-5 px-3 text-white about-head"> <h1 class="display-4 fw-bold mb-2">Dentima Class</h1>
                <p>Организация и проведение профессиональных семинаров, конгрессов, конференций, тренингов, практических занятий и мастер-классов для стоматологов и зубных техников.</p>
            </div>
        </div>
        
        <div class='col-md-6 p-0'> 
            <div class='container-fluid h-100 p-md-5 py-5 px-3 d-flex flex-column mt-auto'>
                <div class="d-flex flex-row fw-bold align-items-center justify-content-end my-3">
                        <div class=" d-flex flex-column">
                                <p class="display-2  text-end my-auto">  50 </p>
                                <p class="h6 text-end my-auto d-flex"> семинаров </p>
                        </div>

                        <div class="vr mx-3"></div>

                        <div class=" w-50 d-flex">
                            <p class="h6 text-start my-auto" style='color:#2F375C'> Помогаем нашим ученикам выйти на профессиональный уровень</h4>
                    </div>

                </div>
                <div class="d-flex flex-row fw-bold align-items-center justify-content-end my-3">

                    <div class="d-flex flex-column">
                            <p class="display-2  text-end my-auto">  700 </p>
                            <p class="h6 text-end my-auto"> участников </p>
                    </div>

                    <div class="vr mx-3"></div>

                    <div class="w-50 d-flex">
                        <p class="h6 text-start my-auto" style='color:#2F375C'> Помогаем нашим ученикам выйти на профессиональный уровень</h4>
                   </div>

                </div>
                <div class="d-flex flex-row fw-bold align-items-center justify-content-end my-3">
                    <div class=" d-flex flex-column">
                        <p class="display-2  text-end my-auto"> 6 </p>
                         <p class="h6 text-end my-auto"> лет работы</h4>
                    </div>

                    <div class="vr mx-3"></div>

                    <div class=" w-50 d-flex">
                        <p class="h6 text-start my-auto" style='color:#2F375C'> Мы работаем для того, чтобы вы могли учиться</h4>
                   </div>


                </div>




            </div>
        </div>

  
    </div>
  </div>





{% endblock %}