

{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container p-0">

    <div class="my-5">
                <p class="h1 fw-bold text-center"> Текущие семинары </p>
<p class="fs-6 text-center ms-3"> Эти мероприятия предназначены для стоматологов всех уровней, стремящихся повысить свою квалификацию
    , освоить современные методы лечения, обменяться опытом с коллегами и задать вопросы экспертам. </p>

</div>


</div>

{% include 'includes/all_seminars_swiper.html' %}




{% endblock %}