

{% extends 'base.html' %}
{% load static %}


{% block css %}
<!-- Banner -->
<link rel="stylesheet" href="{% static 'css/includes/all_seminars_swiper.css' %}" />
<link rel="stylesheet" href="{% static 'css/includes/swiper-bundle.min.css' %} "/>
<link rel="stylesheet" href="{% static 'css/all_seminars_page.css' %}" />

{% endblock %}

{% block content %}



<!-- Main page banner -->

        <div class="container">
            <h2>Все семинары</h2>
            <div class="d-flex flex-row flex-wrap justify-content-center justify-content-md-start clearfix">
          <!-- Additional required wrapper -->
                    {% for seminar in seminars %}
                    <div class="card m-2" style='border-radius:15px; overflow:hidden'>
                              <img src="{{ seminar.background_image.url }}" class="card-img-top" alt="..." style='height:10rem;'>
                              <div class="card-body" style='display:flex;flex-direction:column;'>
                                <h6 class="card-title"> {{ seminar.name }} </h5>
                                        <div class="lector-wrap">
                                            <img src="{{ seminar.lector.image.url }}" class="rounded-circle">
                                        <div class="lector-name">{{ seminar.lector.name }}</div>
                                        </div>
                                        {% if seminar.lector_2 %}
                                        <div class="lector-wrap">
                                            <img src="{{ seminar.lector_2.image.url }}" class="rounded-circle">
                                            <div class="lector-name">{{ seminar.lector_2.name }}</div>
                                        </div>
                                        {% endif %}
                                <a href="/seminar/{{seminar.slug }}" class="btn btn-primary btn-mystyle" > Подробнее</a>
                              </div>
                    
                        </div>
                    
                    
                    
                    
            
                    {% endfor %}
            </div>

        </div>

{% endblock %}