{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta name="format-detection" content="telephone=no">


    <title>Dentima Class </title>

    <!-- Favicons -->
    <link rel="apple-touch-icon" href="{% static 'img/favicons/apple.png' %}"> <!-- 180×180 -->
    <link rel="icon" href="{% static 'img/favicons/favicon.ico' %} ">
    <link rel="shortcut icon" href="{% static 'img/favicons/favicon.ico' %}">




    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"  />
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" >
    <link rel="stylesheet" href=" {% static 'css/reset.css' %} " />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    
    {% block css %}{% endblock %}

    <script src="{% static 'js/bootstrap.bundle.min.js' %}" ></script>
    <script src="{% static 'js/burger.js' %} "></script>
    {% block scripts %} {% endblock %}

  </head>


  <body>
    <nav class="navbar">
      <div class="container">
        <div class="navbar__wrap w-100">
          <a href="/" class="logo d-flex my-auto" id="logo">Dentima Class</a>
          <ul class="menu" id="menu">
            <li><a href="/">Главная</a></li>
            <li><a href="/seminar">Семинары</a></li>
            <li><a href="/about">О нас</a></li>
            <li><a href="/contact">Контакты</a></li>
            <li><a href="tel:+79882434040">+7 (988) 243-40-40</a></li>
            <li>
                <a class='custom-button' href="https://wa.me/79882434040" > <i class='fa-brands fa-whatsapp fa-lg'></i> </a>
            </li>

          </ul>

		  <div class="hamb">
            <div class="hamb__field" id="hamb">
              <span class="bar"></span>
              <span class="bar"></span>
              <span class="bar"></span>
            </div>
          </div>
		  <div class="popup" id="popup"></div>

		</div>
      </div>
    </nav>



    <main class="main">

    {% block content %} {% endblock %}

    </main>



    <footer class="footer">
      <div class="container">
        <div class="content">
          <div class="contact-box">
          </div>
          <p> © 2018-{% now "Y" %} Dentima-Class. Организация и проведение профессиональных семинаров, конгрессов, конференций, тренингов, практических занятий и мастер-классов для стоматологов и зубных техников.
        </div>
      </div>
    </footer>
  </body>
</html>
