{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />


    <meta name="format-detection" content="telephone=no">


    <title>Dentima Class </title>

    <!-- Favicons -->
    <link rel="apple-touch-icon" href="{% static 'img/favicons/apple.png' %}"> <!-- 180×180 -->
    <link rel="icon" href="{% static 'img/favicons/favicon.ico' %} ">
    <link rel="shortcut icon" href="{% static 'img/favicons/favicon.ico' %}">


    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"  />
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" >
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    
    {% block css %}{% endblock %}


    <script src="{% static 'js/bootstrap.bundle.min.js' %}" ></script>
    {% block scripts %} {% endblock %}

  </head>


  <body>

    <nav class="navbar navbar-expand-lg navbar-light " >
        <div class="container py-2">
            <div class="d-flex align-items-center justify-content-center"> <a class="navbar-brand fs-4 fw-bold" href="/">DENTIMA CLASS</a> </div>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" style="order: 1;">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-end py-1" id="navbarNav" style="order: 3;">
                <ul class="navbar-nav py-md-0">
                    <li class="nav-item ms-3 ms-md-0 py-md-0">
                        <a class="nav-link" href="/">Главная</a>
                    </li>
                    <li class="nav-item ms-3">
                        <a class="nav-link " href="/seminar">Семинары</a>
                    </li>
                    <li class="nav-item ms-3">
                        <a class="nav-link" href="/archive">Архив</a>
                    </li>
                    <li class="nav-item ms-3">
                        <a class="nav-link" href="/about">О нас</a>
                    </li>
                    <li class="nav-item ms-3">
                        <a class="nav-link" href="/contact">Контакты</a>
                    </li>
                    <li class="nav-item ms-3">
                        <a class="nav-link " href="tel:+79882434040">+7 (988) 243-40-40</a>
                    </li>
                    <li class="nav-item ms-3 ">
                        <div class="d-flex align-items-center ">
                          <p class="d-md-none my-auto me-2"> WhatsApp</p>
                          <a class="nav-link custom-button" href="https://wa.me/79882434040">  <i
                                class="fab fa-whatsapp fa-lg"> </i> </a>

                        </div>


                    </li>
                </ul>
            </div>
        </div>
    </nav>






    <main class="main">

    {% block content %} {% endblock %}

    </main>





  <footer class="footer py-5" style=" background-color: #e9ecef;">

  {% include 'includes/feedback_form.html' %}


    <div class="container my-5">
      <div class="row">
        <div class="col-md-3 text-center text-md-start">
            <div class="row">
                <div class="col-3 col-md-5 d-flex justify-content-center ">
                    <img src="{% static 'img/DC_logo.png' %}" alt="Логотип" class="logo mb-3">
                </div>
                <div class="col-9    col-md-7">
                    <p class="text-start" style="font-size:1rem">Dentima-Class<br>© 2020 - 2024</p>
                </div>
            </div>
            <p class="text-start mb-3" >
                <a href="/documents/politika_obrabotki_personalnih_dannih" class="text-reset text-decoration-underline">Политика конфиденциальности</a>  <br>
                <a href="/documents/dogovor_oferta" class="text-reset text-decoration-underline">Договор-оферта</a> <br>
                <a href="/documents/credentials" class="text-reset text-decoration-underline">Реквизиты</a>
            </p>
        </div>


        <div class="col-md-6 text-md-start">
          <div class="contact-info mb-3">
           <p class="fs-4 fw-bold mb-3">+7 (978) 742-11-92 <br>+7 (988) 243-40-40 </p>
            <p class="fs-6"> Будни: 9:00–21:00, выходные: 9:00–18:00  </p>
          </div>
          <div class="disclaimer">
              <p class="mb-3"> Организация и проведение профессиональных семинаров, конгрессов, конференций, тренингов, практических занятий и мастер-классов для стоматологов и зубных техников. </p>
          </div>
        </div>
        <div class="col-md-3 text-md-start    ">
          <div class="social-icons">
              <p class="mt-2"> <i class="fab fa-telegram"></i> <a class="text-reset" href="https://t.me/dentima_class"> Наш telegram </>  </a> </p>
              <p class="mt-2"> <i class="fab fa-whatsapp"></i>  <a class="text-reset" href="https://wa.me/79882434040"> Наш whatsapp </a> </p>
            <p class="mt-2"> <a class="text-reset" href="https://t.me/rollipp"> &lt;/&gt; Development</a> </p>
          </div>
        </div>
      </div>
    </div>

    <script src="{% static 'js/burger.js' %}"></script>
  </footer>

  </body>
</html>
