{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/contact.css' %}" />
<script src="{% static 'js/form_processing.js' %} "> </script>
{% endblock %}


{% block content %}



<div class="container">
    <div class="row">
        <div class="col-md-6 p-0">
            <div class="contacts">
                <div class="container-fluid h-100 d-flex flex-column p-md-5 py-5 px-3">
                   <p class="h3 fw-bold"> Контакты </p>
                    <p class="h4  mt-2"> Крым: </p>
                    <p>+7 (988) 888-88-88 </p>
                    <p class="h4 mt-2">Краснодар: </p>
                    <p>+7 (988) 888-88-88 </p>
                    <p class="h4  mt-4">Мессенджеры: </p>
                    <div style="display:flex;">
                        <a class='custom-button' style="background: #229ED9;" href='https://t.me/dentima_class'>  <i class='fa-brands fa-telegram fa-lg'></i> </a>
                        <a class='custom-button' style="background:#43d854;" href="https://wa.me/79882434040">   <i class='fa-brands fa-whatsapp fa-lg'></i> </a>
                        <a class='custom-button' style="background:#7360F2;"href="viber://chat?number=%2B79882434040">   <i class='fa-brands fa-viber fa-lg'></i> </a>
                    </div>
               </div>
            </div>
        </div>

        <div class="col-md-6 p-0">
            <div class="container-fluid h-100 d-flex flex-column p-md-5 py-5 px-3">
                <form  action=''  method='post' class="form-example d-flex flex-column" onsubmit="process_form(event)">
                    <p class="h3 text-md-left mb-4 fw-bold"> Свяжитесь с нами: </p>
                        {% csrf_token %}
                    <div class="text-field">
                        <input class='text-field__input' type="name" name="name" id="name" required placeholder="Имя"/>
                    </div>
                    <div class="text-field">
                        <input class='text-field__input' type="email" name="email" id="email" required placeholder="Email"/>
                    </div>
                    <div class="text-field">
                        <input  class='text-field__input' type="tel" name="phone" id="phone" required placeholder="Номер телефона"/>
                    </div>
                    <div id='form-success' class="text-field-success">Спасибо за заявку, в ближайшее время с Вами свяжется наш менеджер</div>
                    <div class="form">
                        <input id="submit" type="submit" value="Отправить!" />
                    </div>
                 </form>
            </div>
        </div>

        </div>
    </div>

{% endblock %}