{% extends 'base.html' %}
{% load static %}

{% block css %}
<!-- Index -->
<link rel="stylesheet" href="{% static 'css/index.css' %}"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
{% endblock %}


{% block content %}


<div class="container col-lg-12">
    <div class="row">
        <div class='col-md-8'>
            <div class="container-fluid d-flex flex-column p-md-5  py-5 px-3 text-white rounded-5 index-head "
                 style="min-height: 30rem;">
                <p class="display-4 mb-2 animate__animated" id="text-change">Передаем опыт от лучших специалистов</p>
                <div class="mt-auto d-flex flex-wrap">
                    <p class="p-2 px-3 m-1 border border-white rounded-5">Терапия</p>
                    <p class="p-2 px-3 m-1 border border-white rounded-5">Гигиена</p>
                    <p class="p-2 px-3 m-1 border border-white rounded-5">Ортопедия</p>
                    <p class="p-2 px-3 m-1 border border-white rounded-5">Хирургия</p>
                    <p class="p-2 px-3 m-1 border border-white rounded-5">Эндодонтия</p>
                    <p class="p-2 px-3 m-1 border border-white rounded-5">и др.</p>
                </div>
            </div>


        </div>


        <script>
            document.addEventListener("DOMContentLoaded", () => {
               const textElement = document.getElementById("text-change");
               const texts = [
                   "Передаем опыт от лучших специалистов",
                   "Строим сообщество профессионалов",
                   "Передаем знания на практике"
               ];
               let current = 0;

               function fadeOut(element, callback) {
                   element.classList.remove("animate__fadeIn");
                   element.classList.add("animate__fadeOut");
                   element.addEventListener('animationend', function() {
                       element.style.display = "none";
                       element.classList.remove("animate__fadeOut");
                       callback();
                   }, { once: true });
               }

               function fadeIn(element, text) {
                   element.textContent = text;
                   element.style.display = "block";
                   element.classList.add("animate__fadeIn");
               }

               function showNext() {
                   fadeOut(textElement, () => {
                       current = (current + 1) % texts.length;
                       fetchText(current, (text) => {
                           fadeIn(textElement, text);
                       });
                   });
               }

               function fetchText(index, callback) {
                   setTimeout(() => {
                       callback(texts[index]);
                   }, 500);
               }

               fadeIn(textElement, texts[current]);
               setInterval(showNext, 5000);
           });
        </script>


        <div class='col-md-4'>
            <div class="container-fluid d-flex flex-column p-5 mt-2 mt-md-0 h-100 rounded-5 bg-light"
                 style="min-height: 15rem">
                <p class="display-5 fw-bold mb-2 lh-1">Dentima Class</p>
                <p class="fs-6">Организация и проведение профессиональных семинаров, конгрессов, конференций, тренингов,
                    практических
                    занятий и мастер-классов для стоматологов и зубных техников.</p>
                <a href="#" class="mt-md-auto btn btn-primary btn-mystyle rounded-5 mt-5"> Подробнее</a>
            </div>

        </div>


    </div>
</div>


<div class="container p-0">

    <div class="my-5">
        <p class="h1 fw-bold text-center"> Cеминары </p>
        <p class="fs-6 text-center ms-3"> Эти мероприятия предназначены для стоматологов всех уровней, стремящихся
            повысить свою квалификацию
            , освоить современные методы лечения, обменяться опытом с коллегами и задать вопросы экспертам. </p>
    </div>
</div>

{% include 'includes/all_seminars_swiper.html' %}
{% include 'includes/why_us.html' %}
{% include 'includes/blog.html' %}
{% include 'includes/all_lectors_swiper.html' %}


{% include 'includes/marque.html' %}


{% endblock %}


{% block scripts %}
<script src="{% static 'js/index_counters.js' %}"></script>
<script src="{% static 'js/swiper-bundle.min.js' %}"></script>


<script src="{% static 'js/swiper.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
{% endblock %}


{% include 'includes/banner.html' %}
{% include 'includes/swiper.html' %}

