{% extends 'base.html' %}
{% load static %}

{% block css %}
  <!-- Index -->
  <link rel="stylesheet" href="{% static 'css/index.css' %}" />
{% endblock %}



{% block content %}




<div class="container-sc">
  <div class="double-box-text-image">
      <div class="image">
          <img src="{% static 'img/index_double.jpg' %}">
      </div>
      <div class="text"> <h2>Dentima Class</h2>
          <p>Организация и проведение профессиональных семинаров, конгрессов, конференций, тренингов, практических занятий и мастер-классов для стоматологов и зубных техников.</p>
          <div class='counters-box'>
              <div  class="counter-wrapper"> <h2> <div class="counter" id="counter_seminars"> > </div> </h2> <h4>успешных<br> семинаров</h4> </div>
              <div class="counter-wrapper"> <h2> <div class="counter" id="counter_students" > > </div> </h2> <h4> довольных <br> учеников</h4> </div>
          </div>
          <div> </div>
      </div>
  </div>
</div>



  {% include 'includes/all_seminars_swiper.html' %}
  {% include 'includes/all_lectors_swiper.html' %}



  {% include 'includes/marque.html' %}

{% endblock %}


{% block scripts %}

  	<script src="{% static 'js/swiper-bundle.min.js' %}"></script>
    <script src="{% static 'js/swiper2.js' %}" ></script>
    <script src="{% static 'js/swiper.js' %}" ></script>
    <script src="{% static 'js/index_counters.js' %}" ></script>
{% endblock %}




{% include 'includes/banner.html' %}
{% include 'includes/swiper.html' %}

