{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/seminar.css' %}"/>
<script src="{% static 'js/form_processing.js' %} "></script>
{% endblock %}


{% block content %}


{% include 'seminar/head.html' %}

{% include 'seminar/short_desc.html' %}


{% include 'seminar/video_block.html' %}


{% include 'seminar/lectors_v2.html' %}


{% include 'seminar/full_description.html' %}



{% include 'seminar/get_pdf.html' %}

{% include 'seminar/discount.html' %}
{% include 'includes/photos.html' %}


{% include 'seminar/price_and_contact.html' %}


{% endblock %}

