.lector-box {
    height:300px;
}

.seminar-desc-box .seminar-header-wrap{
  display:flex;
  align-items: center;
  font-weight: normal;
  background-image: url("/static/img/background-seminar/background7.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;
}

.seminar-header-wrap .container {
    display:flex;
    flex-direction: column;
    height:300px;
}

.seminar-header-wrap .title {
    display:flex;
    height:50%;
    justify-content:center;
    align-items: center;

}


.seminar-header-wrap .title h3{
    color: white;
    font-weight:bold;
    vertical-align: middle;
 }


.org-container-top{
    display:flex;
    font-size:20px;
}

.org-box {
    margin-right:auto;

    flex-direction:column;

    margin-bottom:auto;
}

.org-container-top .date {
    font-weight: bold;
    font-size: 30px;
}


.org-container-top .lector {
    font-weight: bold;
    font-size: 30px;
    text-transform: uppercase;
}



.lector-textbox h2{
    display:none;
}


.lector-textbox .desc-long{
    display:none;
}

.org-container-top {
    color: white;
    width:100%;
    display:flex;
    flex: 2 0 0;
}

.top-enroll-button {
    display:none;
}


.pricing{
    width: 50%;
}

.enroll{

    width: 50%;
    background:grey;
}

input[type=submit] {
    padding:5px 15px;
    background:#ccc;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

input[type=submit] .success {
    background:green;
}



@media (max-width: 1000px) {

.lector-box{
    height:auto;
}

.seminar-header-wrap {
  min-height: calc(100% - 50px);
 }

.seminar-header-wrap .title{
    display: table;
    height:40%;

 }

.seminar-header-wrap .container{
    height: calc(100vh - 70px);
}

.seminar-header-wrap .title h3{
    display:table-cell;
    vertical-align:middle;
    font-size: 24px;
 }

.seminar-desc-box .seminar-header-wrap{
  background-size:  auto 160% ;

}
.org-container-top {
    flex-direction: column;
    width: 70vw;

}

.org-container-top {
    font-size:14px;

}

.org-container-top .org-box:first-child{
    margin-top:0px;
    margin-bottom:50px;
}

.org-container-top .org-box:last-child{
    margin-bottom:100px;
}


.org-container-top .org-box {
    margin:5px;
}

.top-enroll-button{
    display:flex;
    font-size: 20px;
    height: 50px;
    background: white;
    text-align:center;
    justify-content: center;
    align-items: center;
    margin-bottom:20px;
}





 }