.swiper {
  color:white;
  margin-top: 75px;
  width: 100%;
  height: auto;
}

.swiper-button-next,.swiper-button-prev {
color:LightSteelBlue;
}

.swiper-seminar {
    display: flex;
    height: 700px;
    background: purple;
    align-items: center;
}


.swiper-seminar .text-container .type {

}

.swiper-seminar .text-container .author {
    font-size: 45px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
}

.swiper-seminar .text-container .name {
    font-size: 30px;
    margin-bottom: 10px;
}



.swiper-seminar .text-container .tag {
    display: flex;
    background: white;
    opacity: 0.8;
    padding: 6px;
    margin: 2px;
    border-radius: 7px;
}

.swiper-seminar .seminar-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.swiper-seminar .date {
    padding: 10px;
    margin: 6px;
    font-size: 24px;
}

.swiper .button {
    font-size: 24px;
    font-weight: normal;
    color:black;
    background: white;
    padding: 10px;
    margin: 6px;
    border-radius: 7px;
}

@media (max-width: 800px) {


.swiper-slide{

  display:flex;
  justify-content: center;
}


.swiper-seminar  {
  display:flex;
  flex-direction:column;
  padding: 10px;
  border-radius: 20px;
  background: linear-gradient(to top left, rgba(91,246,255,1) 0%, rgba(53,135,255,1) 100%);
  align-items: center;
  justify-content: center;
  overflow:auto;
  margin:8px;
  box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.2);

}



.swiper-seminar .img-container {
    display:flex;
    justify-content: center;
    flex: 2 4 0;
    max-width:90%;
    overflow:hidden;
}

.swiper-seminar .img-wrapper {
    display:flex;
    background: white;
    border-radius: 20px;
    margin:10px;
    justify-content: center;
    overflow:hidden;
}



.swiper-seminar .author {

}

.swiper-seminar .tag-container{
    color:black;
    display: flex;
    width:100%;
    text-align: center;
    vertical-align: middle;
    flex: 0 0 0;
}

.swiper-seminar .text-container {
  display: flex;
  flex-direction: column;
  height: auto;
  max-height:60%;
  width:80%;
  border-radius: 20px;
  text-align: center;
  vertical-align: middle;
  margin: 10px;
  flex: 1 2 0;
}

.swiper-seminar .text-container .type{
    width:50%;
}

.swiper-button-next,.swiper-button-prev {
    color:white;
}

.swiper-seminar .text-container .author {
    font-size:35px;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 10px;
    text-align: center;
    vertical-align: middle;
}

.swiper-seminar .text-container .name {
    font-size: 20px;
    margin-bottom: 10px;
    text-align: center;
    vertical-align: middle;
}


.seminar-bottom .date {
    display:none;

}

.swiper-seminar .seminar-bottom {
  margin-top: auto;
  flex-direction: column;
  flex: 0 0 0;
  }





  }
