.swiper {
  color:black;
  width: 100%;
  height: auto;
}

.swiper-button-next,.swiper-button-prev {
color:LightSteelBlue;
font-size:10px;
}


.swiper [class^="swiper-button-"]::after{
    font-size: 25px;
}

.swiper-seminar .date {
    padding: 10px;
    margin: 6px;
    font-size: 24px;
}

.swiper-slide{
  display:flex;
  justify-content: center;
}


.swiper-seminar  {
  display:flex;
  flex-direction:column;
  height: 600px;
  padding: 5px;
  border-radius: 20px;
  background: white;
  align-items: center;
  justify-content: center;
  overflow:hidden;
  margin:8px;
  box-shadow: 0px 0px 4px 3px rgba(202, 203, 222, 0.5);
  background-image: url("/static/img/background/background.png");
  background-repeat: no-repeat;
  background-position: center;

}



.swiper-seminar .img-container {
    display:flex;
    justify-content: center;
    flex: 1 4 0;
    max-height:100%;
    max-width:90%;
    overflow:hidden;
    margin: 10px;
}

.swiper-seminar .img-wrapper {
    display:flex;
    margin:5px;
    justify-content: center;
    overflow:hidden;
    border-radius: 20px;


}
.swiper-seminar .img-wrapper img{
    background: white;
    border-radius: 20px;
    padding-left: 5px;
    padding-right: 5px;
    height:100%;



}



.swiper-seminar .author {

}



.swiper-seminar .text-container {
  display: flex;
  flex-direction: column;
  height: auto;
  max-height:60%;
  border-radius: 20px;
  text-align: center;
  vertical-align: middle;
  margin: 10px;
  flex: 1 2 0;
  max-height:400px;

}

.swiper-seminar .text-container .type{
    width:50%;
}

.swiper-button-next,.swiper-button-prev {
    color:black;
}

.swiper-seminar .text-container .author {
    font-size:30px;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 10px;
    text-align: center;
    vertical-align: middle;
}

.swiper-seminar .text-container .title {
    font-size: 18px;
    margin-bottom: 10px;
    text-align: center;
    vertical-align: middle;
    max-height:180px;
}


.swiper-seminar .tag-container{
    color:black;
    display: flex;
    width:100%;
    text-align: center;
    vertical-align: middle;
    flex-wrap: wrap;
    max-height:80px;
}

.swiper-seminar .text-container .tag {
    display: flex;
    background: white;
    opacity: 0.8;
    padding: 4px;
    margin: 2px;
    border-radius: 7px;
    flex: 0 2 0;
    font-size:12px;
    background: white;
    box-shadow: 0px 0px 4px 3px rgba(202, 203, 222, 0.5);
}

.seminar-bottom .date {
    display:none;

}

.swiper-seminar .seminar-bottom {
  display: flex;
  margin-top: auto;
  flex-direction: column;

  flex: 0 0 0;
  }


.swiper .button {
    font-size: 24px;
    font-weight: normal;
    color:white;
    background:#00008B;
    opacity:0.7;
    padding: 10px;
    margin-top: 6px;
    margin-bottom: 6px;
    border-radius: 7px;
    margin-left:auto;
    margin-right:auto;

}

@media (min-width: 800px) {

.swiper-seminar {
  flex-direction: row;
  height: 400px;
}



.swiper-seminar .text-container .author {
    text-align: left;
    font-size: 35px;

}


.swiper-seminar .text-container .title {
    text-align: left;
}


.swiper-seminar .img-container {
    display:flex;
    flex: 0 0 0;
    min-width:40%;
}
.swiper-seminar .tag-container .tag {
    font-size: 14px;


}
.swiper-seminar .button {
    margin-top:30px;
    width:50%;

}



}
