{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/lector.css' %}" />
{% endblock %}

{% block content %}

<div class="container">
    <div class="lector-box">
        <img src="{% static 'img/image_4.jpg' %}">
        <div class="lector-textbox">
            <h1> Виталий Носов</h1>
            <h2> О лекторе </h2>
            <p>  Образование, работа:<br><br>
                    С 1994 по 1996 год учился в Краснодарском краевом базовом медицинском училище города Краснодара по специальности зубной техник «стоматология — ортопедическая». Закончил с отличием.<br>
                    С 1996 по 2007 работал зубным техником в МУЗ Городская Поликлиника №7.<br><br>
                    С 2010 года владелец собственной стоматологической практики. На сегодняшний день зуботехническая лаборатория и учебный центр прошли успешно сертификацию в Германии. Оснащение лаборатории позволяет заниматься тестами новой продукции в момент производства, экспериментировать с продукцией с целью улучшения качества, оказывать информационную поддержку в технологическом процессе зубным техникам.<br>
                    В мае 2014 прошел продвинутый курс Люка Рюттена «Эстетические возможности безметалловой керамики при протезировании на имплантатах».<br><br>
                    Осенью 2014 во Франкфуртском Университете прошёл практический курс работа с пациентом профессора А. Гутовского «Полные съемные протезы<br><br>
                    В 2010-2015 году Кубанский Государственный Медицинский Университет по специальности врач стоматолог.<br><br>
                    Член правления СтАКК.<br><br>
                    Председатель клуба зубных техников.<br><br>
                    Член редакционного Совета журнала Dental Magazine.<br><br>
                    Получен статус «BEGO-Pilotlabor», «VITA Masterlab», а также «Pilotlabor-KAVO,SILADENT,MIHN-VOGT».<br>
                    </p>
        </div>
    </div>
</div>
{% endblock %}

