{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/seminar.css' %}" />
    <script src="{% static 'js/form_processing.js' %} "> </script>
{% endblock %}


{% block content %}
    <div class="seminar-desc-box">
        <div class="seminar-header-wrap">
            <div class="container">
                <div class="title">
                    <h3>Эндодонтия. Начало. Базовые знания и тактики в лечении и перелечивании корневых каналов</h3>
                </div>
            <div class="org-container-top">
                <div class="org-box">
                    <h3 class="date">00.00 - 00.00</h3>
                    <p class="place">Краснодар ул. Восточно-Кругликовская, 96</p>
                </div>

                <div class="org-box">
                    <p>лектор:</p>
                    <h3 class="lector">ВАСИЛИЙ ПУПКИН </h3>
                </div>
                <div class="org-box">
                    <p class="type">лекция + практика</p>
                    <p>обед + кофе-брейк </p>
                    <p>сертификат</p>
                </div>

            </div>

                <div class="top-enroll-button">

                        <p>Записаться</p>

                </div>
            </div>
        </div>



        <div class="container">
            <div class="seminar-text">
                <h3> День 1 </h3>
                <p> RG, диагностика и планирование лечения.
Анестезия (виды и техники проведения).
Изоляция рабочего поля (коффердам и его вариации).
Апекслокатор (принцип действия и правила применения).
Создание прямолинейного доступа:
принципы;
инструменты (УЗ насадки и боры);
реализация.
Обработка корневых каналов:
 инструменты и необходимое оборудование (ручные, механические файлы, эндомотор, УЗ);
 ковровая дорожка (определение, фиксация и контроль рабочей длины);
 механическая обработка;
 создание апикального упора;
 ирригация (гипохлоритовая авария, тактика ведения и как избежать);
 высушивание;
 временная обтурация.
Постоянная обтурация:
материалы;
подбор и калибровка апикальной части мастер-штифта;
методики обтурации (метод одного штифта, метод латеральной компакции, метод вертикальной конденсации, обтурация по Бьюкенону);
пробка из МТА;
RG контроль.
Восстановление и протекция:
принципы;
прямой билдап (со штифтом и без);
методика индивидуализации штифта. </p>

                                <h3> День 1 </h3>
                <p> RG, диагностика и планирование лечения.
Анестезия (виды и техники проведения).
Изоляция рабочего поля (коффердам и его вариации).
Апекслокатор (принцип действия и правила применения).
Создание прямолинейного доступа:
принципы;
инструменты (УЗ насадки и боры);
реализация.
Обработка корневых каналов:
 инструменты и необходимое оборудование (ручные, механические файлы, эндомотор, УЗ);
 ковровая дорожка (определение, фиксация и контроль рабочей длины);
 механическая обработка;
 создание апикального упора;
 ирригация (гипохлоритовая авария, тактика ведения и как избежать);
 высушивание;
 временная обтурация.
Постоянная обтурация:
материалы;
подбор и калибровка апикальной части мастер-штифта;
методики обтурации (метод одного штифта, метод латеральной компакции, метод вертикальной конденсации, обтурация по Бьюкенону);
пробка из МТА;
RG контроль.
Восстановление и протекция:
принципы;
прямой билдап (со штифтом и без);
методика индивидуализации штифта. </p>

            </div>


        </div>

    </div>


    {% include 'includes/lector.html' %}

    <div class="container" style="display:flex">
        <div class="pricing">
            <h3> Стоимость</h3>
            <p>
                🔥Акция Ранняя оплата, до 1 февраля: 18 500 руб., 1+1 = по 18 000 руб. <br>
🔥Студентам — 16 000 руб., 1+1 = по 15 000 руб.<br>
                <br><br>


СТОИМОСТЬ: при оплате до 16 февраля: 20 500 руб., 1+1 = по 20 000 руб.<br>
При оплате после 16 февраля — 24 500 руб.<br>
============
<br>
Только лекция — 10 500 руб. 1+1= по 10 000 руб.<br>
🔥Студентам — 5 000 руб.<br>
 
<br>
ВНИМАНИЕ! Стоимость для юридических лиц +10%<br>
<br>
При форс-мажоре стоимость возвращается в размере 100%!<br>

            </p>
        </div>

 <div class="enroll">
     <h3> Записаться </h3>
    <form id='enroll' action=''  method='post' class="form-example" onsubmit="process_form(event)">
        {% csrf_token %}
        <div class="form-example">
            <label for="name">Enter your name: </label>
            <input type="text" name="name" id="name" required />
        </div>
        <div class="form-example">
            <label for="email">Enter your email: </label>
            <input type="email" name="email" id="email" required />
        </div>
        <div class="form-example">
            <label for="phone">Телефон:</label>
            <input  type="tel" name="phone" id="phone" required />
        </div>
        <div class="form-example">
            <input id="submit" type="submit" value="Subscribe!" />
        </div>

     </form>


     
        </div>



    </div>





{% endblock %}

